* {
    main-color: white;
}

.container {
    -fx-background-color: main-color;
}

.text-medium {
    -fx-font-size: 15px;
}

.weather-description {
     -fx-font-style: italic;
}

.temperature {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.weather-item-pane {
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 1.5px 0px 0px 0px;
}

Button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.search-result-pane {
    -fx-border-color: -fx-outer-border;
    -fx-border-width: 1px 1px 1px 1px;
}

.search-result-label {
    -fx-padding: 3px;
    -fx-margin: 5px;
    -fx-background-color: main-color;
}

.search-result-label:hover {
    -fx-background-color: -fx-inner-border;
}

.search-field:focused, .search-field:focused:hover  {
    -fx-background-color: -fx-outer-border, #fff;
}


.info-label {
    -fx-font-size: 15px;
}

.place-name-label {
    -fx-padding: 5px;
    -fx-font-size: 18px;
}


