* {
    base-background-color: white;
}

.container {
    -fx-background-color: base-background-color;
}

.search-result-pane {

}

.weather-item-pane {
    -fx-border-color: black;
    -fx-border-width: 0.5px 0px 0px 0px;
}

.placeNameLabel {
    -fx-padding: 5px;
    -fx-font-size: 18px;
    -fx-background-color: base-background-color;
   /* -fx-border: solid, black 1px 1px 0.5px 0;*/
}

.searchingResultLabel {
    -fx-padding: 3px;
    -fx-margin: 5px;
    -fx-cursor: hand;
}

.searchingResultLabel:hover {
    -fx-background-color: yellow;
}